<h2>Edit Team <%= @team.name.capitalize %>'s Profile</h2>
<%= render 'form' %>
<%= link_to 'Delete Team', team_path(@team), method: :delete %>
<br>
<br>
<%= link_to "Back to #{@team.name.capitalize}'s Profile", team_path(@team) %>
